body{
  background-color: black;
  text-align: center;
  font-family:Verdana;
  }



.person1 {
  font-weight: normal;
  font-size: 50px;
  color: white;

}


.link1{
  color: Aquamarine;
  font-size: 16px;
  }


.person2{
  color: #ffffff;
  font-weight: 300;
  font-size: 42px;
}


.soushead{
font-size: 21px;
color:gray;

}


.foot{
  text-align: right;
  color:gray;
}
